- if @task.errors.any?
  #error_explanation
    = content_tag(:div, class: "alert alert-danger alert-dismissible") do
      = alert_close_button
      %h2= "#{pluralize(@task.errors.count, "error")} prohibited this product from being saved:"
      = @task.errors.full_messages.join('<br />').html_safe
