= form_for [:personal_account, @task], html: {class: 'form-horizontal'} do |f|

  = render partial: '_common/errors', locals: {obj: @task}

  .form-group
    %label.col-sm-2.control-label
      = attr_name(Task, :name)
    .col-sm-5
      = f.text_field :name, class: 'form-control', placeholder: attr_name(Task, :name)

  .form-group
    %label.col-sm-2.control-label
      = attr_name(Task, :description)
    .col-sm-5
      = f.text_area :description, class: 'form-control', placeholder: attr_name(Task, :description)

  .form-group
    .col-sm-5.col-sm-offset-2
      .actions
        = f.submit t('views.buttons_text.save'), class: 'btn btn-success'
